tqdm
colorama
numpy
scipy
matplotlib
pandas

decorators @ git+https://github.com/ParkhomenkoDV/decorators.git@master
tools @ git+https://github.com/ParkhomenkoDV/tools.git@master
mathematics @ git+https://github.com/ParkhomenkoDV/mathematics.git@master

